body {
    background: black;
}

#clocks {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    color: aqua;
    letter-spacing: 6px;
}